body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.5px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {
    margin-top: 10px;
    position: absolute;
    margin-right: 90%;
    border: solid #ccc 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
.font_style{
    line-height: 25px;
}

section a{
    text-decoration: none;
}

.grid-container {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 2fr); /* 3 columns of equal width */
    gap: 10px; /* Space between grid items */
    height: 40vh; /* Full viewport height */
    width: 95vw; /* Full viewport width */
}

.grid-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}
.grid-item:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
.project a:hover{
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
.grid-item h6{
    padding: 0;
    padding-left: 180px;
    font-size: 15px;
}
.grid-item p{
    font-size: 15px;
    padding-left: 10px;
}
.grid-item ol li{
    padding: 5px;
}
